<section class="our-publication pt-100 pb-70" >
  <div class="container">
    <div class="section-header">
      <i class="fa fa-book"></i>
      <h2>Recently Viewed</h2>
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  labore et dolore magna aliqua.</p>-->
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/1.jpg" alt="Publication Image">
            </a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119 <span>$299</span></h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/2.jpg" alt="Publication Image">
            </a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/3.jpg" alt="Publication Image"></a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/4.jpg" alt="Publication Image"></a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/1.jpg" alt="Publication Image">
            </a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119 <span>$299</span></h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/2.jpg" alt="Publication Image">
            </a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/3.jpg" alt="Publication Image"></a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/4.jpg" alt="Publication Image"></a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="section-header">
      <i class="fa fa-book"></i>
      <h2>Editor's Choice</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/1.jpg" alt="Publication Image">
            </a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119 <span>$299</span></h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/2.jpg" alt="Publication Image">
            </a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/3.jpg" alt="Publication Image"></a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/4.jpg" alt="Publication Image"></a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/1.jpg" alt="Publication Image">
            </a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119 <span>$299</span></h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#">
              <img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/2.jpg" alt="Publication Image">
            </a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/3.jpg" alt="Publication Image"></a>

          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="single-publication">
          <figure>
            <a href="#"><img src="https://envytheme.com/tf-demo/edusplash/assets/img/publication/4.jpg" alt="Publication Image"></a>


          </figure>

          <div class="publication-content">
            <span class="category">Book</span>
            <h3><a href="#">Think Python</a></h3>
            <ul>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
              <li><i class="icofont-star"></i></li>
            </ul>
            <h4 class="price">$119</h4>
          </div>

          <div class="add-to-cart">
            <a href="#" class="default-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>




